
@{
    ViewBag.Title = "StudyGroupMembers";
}
@model IEnumerable<wandileStudyGroup_Prac4.Models.StudentClass>

@section Scripts {
    <script src="~/Scripts/MyScript.js"></script>
}

<h1>List of People</h1>

<table class="tablestyles">



    <tr>

        <td>
            @Html.DisplayNameFor(model => model.StudentNumber)
        </td>

        <td>
            @Html.DisplayNameFor(model => model.FName)
        </td>

        <td>
            @Html.DisplayNameFor(model => model.LName)
        </td>

        <td>
            @Html.DisplayNameFor(model => model.Email)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.myLink)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.remover)
        </td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.StudentNumber)</td>
            <td>@Html.DisplayFor(modelItem => item.FName)</td>
            <td>@Html.DisplayFor(modelItem => item.LName)</td>
            <td>@Html.DisplayFor(modelItem => item.Email)</td>
            <td>
                <a href="@Url.Content(item.myLink)" target="_blank" class="btn btn-primary">Link</a>
            </td>
            <td>
                <button class="btn btn-danger deleteBtn">Delete</button>
            </td>
        </tr>
    }






</table>




